<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NC News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size:18px;
        padding:0 20px;
        color:#333;
        background-color: rgb(203, 252, 255)
    }
    span {
        font-size : 0.8em;
        color:grey
    }
</style>
<body>
    <h1>NC News</h1>

    <h2>Available endpoints</h2>
<p>
    <strong>GET</strong> /api <br>
    <span>HTML page with documentation for all the available endpoints</span>
</p>

<p>
    <strong>GET</strong> /api/topics <br>
     <span>Get all the topics</span>
</p>

<p>
    <strong>GET</strong> /api/topics/:topic_slug/articles <br>
    <span>Return all the articles for a certain topic</span>
</p>

<p>
    <strong>POST</strong> /api/topics/:topic_slug/articles <br>
    <span>Add a new article to a topic</span>
</p>

<p>
    <strong>GET</strong> /api/articles <br>
    <span>Returns all the articles</span>
</p>

<p>
    <strong>GET</strong> /api/articles/:article_id <br>
    <span>Get an individual article</span>
</p>

<p>
    <strong>GET</strong> /api/articles/:article_id/comments <br>
    <span>Get all the comments for a individual article</span>
</p>

<p>
    <strong>POST</strong> /api/articles/:article_id/comments <br>
    <span>Add a new comment to an article.</span>
</p>

<p>
    <strong>PATCH</strong> /api/articles/:article_id <br>
    <span>Increment or Decrement the votes of an article by one</span>
</p>

<p>
    <strong>PATCH</strong> /api/comments/:comment_id <br>
    <span>Increment or Decrement the votes of a comment by one</span>
</p>

<p>
    <strong>DELETE</strong> /api/comments/:comment_id <br>
    <span>Deletes a comment</span>
</p>

<p>
    <strong>GET</strong> /api/users/:username <br>
    <span>Returns a JSON object with the profile data for the specified user</span>
</p>

    
</body>
</html>